#time{
    background-color:  oldlace;
    padding: 60px;
    font-size:  30px;
    font-weight: bold;
    text-align: center;
    width: 500px;
    margin: 30px auto;
    border-radius: 15px;
}
.kihieu{
    font-size: 20px;
}